{% extends "qishi/base.html" %}
{% load staticfiles %}

{% block header-image %}
<header class="intro-header" style="background-image: url({{ base_url }}{% static 'qishi/images/mountain.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Welcom to Qishi</h1>
                        <hr class="small">
                        <span class="subheading">The Road to Excellence</span>
                    </div>
                </div>
            </div>
        </div>
    </header>    
{% endblock %}

{% block content %}

<div class="container">
    {% if user.is_authenticated %}
       <h2>Hi {{ user.username}}!</h2>
    {% else %}
       <h2>Welcome to Qishi!</h2>
        <p><a href="{% url 'login' %}">Login</a> or 
       <a href="{% url 'register' %}">register</a> </p>
    {% endif %}
</div>
{% endblock %}

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>